<form asp-controller="Home" asp-action="Privacy" method="POST">
    <div class="form-group">
        <label for="task">Task</label>
        <input type="text" class="form-control" id="task" name="task" aria
               describedby="TaskHelp" placeholder="Enter your task">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" aria
               describedby="DescriptionHelp" placeholder="Enter description of your tasks">
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" id="status" name="status" aria
               describedby="StatusHelp" placeholder="Enter status of your task">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>